{% extends "base.html" %}
{% load static %}
{% load card_tags %}
{% load qna_tags %}
{% block title %}
{{ qna.title }}
{% endblock title %}
{% block meta %}
<meta content="{{ qna.title }}" property="og:title" />
<meta content="{{ qna.question }} - {{ qna.answer }}" property="og:description" />
<meta content="https://images.hinoto.kr/lumendb/루멘DB로고.webp" property="og:image" />
{% endblock meta %}
{% block style %}
<link rel="stylesheet" href="{% static "qna/detail.css" %}">
{% endblock style %}
{% block content %}
<div id="QNA">
    <div class="배경색1">
        <h3 class="mb-1">{{ qna.title }}</h3>
        <p>태그 : {{ qna.tags|keywords }}</p>
    </div>
    {% if perms.qna.manage %}
    <div class="d-flex flex-row justify-content-end mb-2">
        <a href="{% url "qna:update" qna.id %}" class="btn btn-sm btn-warning me-2">QNA 수정</a>
        <a href="{% url "qna:delete" qna.id %}" class="btn btn-sm btn-danger">QNA 삭제</a>
    </div>
    {% endif %}
    <div class="배경색1">
        <h4 class="mb-0">Q</h4>
        <p class="mb-0">{{ qna.question|mark }}</p>
    </div>
    <div class="배경색1">
        <h4 class="mb-0">A</h4>
        <p class="mb-0">{{ qna.answer|mark }}</p>
    </div>
    <hr class="my-4">
    <div id="관련카드목록">
        <o class="mb-0">관련 카드</p>
        <div class="관련상자">
            {% for card in qna.cards.all %}
            <div class="관련카드 배경색1">
                <a href="{% url 'card:detail' card.id %}">
                    <div class="w-100 d-flex flex-column justify-content-center hoverBig">
                        <img class="w-100" src="{{ card.img_mid }}" alt="{{ card.name }}">
                        <div class="카드정보">
                            <p class="캐릭터명2">{{ card.character.name }}</p>
                            <p class="카드명2">{{ card.name }}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}