{% extends "base.html" %}
{% load static %}
{% block title %}QNA{% endblock title %}
{% block style %}
<link rel="stylesheet" href="{% static "qna/index.css" %}">
{% endblock style %}
{% block content %}
<div style="font-size: 2em; font-weight: 900;">
    QNA 목록
</div>
<div id="searchBox" class="mt-2">
    <form action="" method="get" class="">
        <div class="d-flex w-100">
            {{ form.query }}
            <div class="검색체크">
                <label for="faq">
                    <input type="checkbox" name="faq" value="1" id="faq" class="검색체크">
                    FAQ
                </label>
            </div>
        </div>
        <div class="d-flex w-100 justify-content-center mt-2">
            <button class="btn btn-sm btn-dark" type="submit">검색</button>
        </div>
    </form>
</div>
<div class="d-flex flex-row justify-content-end">
    <a href="{% url "qna:create" %}" class="btn btn-sm btn-dark">Q&A추가</a>
</div>
<table id="QNA목록" class="w-100">
    <thead>
        <tr class="열정보">
            <th>번호</th>
            <th>제목</th>
            <th>FAQ</th>
        </tr>
    </thead>
    <tbody>
        {% for qna in data %}
        <tr class="QNA정보 배경색1">
            <td>{{ qna.id }}</td>
            <td><a href="{% url "qna:detail" qna.id %}">{{ qna.title }}</a></td>
            {% if qna.faq %}
            <td>★</td>
            {% else %}
            <td></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="d-flex flex-row justify-content-end">
    <a href="{% url "qna:create" %}" class="btn btn-sm btn-dark">Q&A추가</a>
</div>
<div class="paginator d-flex justify-content-center">
    <ul class="pagination">
        {% for page_number in data.paginator.page_range %}
        {% if page_number >= data.number|add:-5 and page_number <= data.number|add:5 and page_number != data.number %}
            <li class="page_item">
                <a class="page-link dynamicLink" href="#" data-page={{ page_number }}>{{ page_number }}</a>
            </li>
        {% elif page_number == data.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link dynamicLink" href="#" data-page={{ page_number }}>{{ page_number }}</a>
            </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
<script src="{% static "card/list.js" %}"></script>
{% endblock content %}