{% extends "base.html" %}
{% load static %}
{% block title %}QNA{% endblock title %}
{% block style %}
{% comment %} <link rel="stylesheet" href="{% static "qna/index.css" %}"> {% endcomment %}
{% endblock style %}
{% block content %}
<div id="searchBox" class="mt-2">
    <form action="" method="get" class="form-control">
        <h4 class="mb-1">검색</h4>
        {{ form.query }}
        <div class="d-flex w-100 justify-content-center mt-2">
            <button class="btn btn-sm btn-primary" type="submit">검색</button>
        </div>
    </form>
</div>
<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>FAQ</th>
        </tr>
    </thead>
    <tbody>
        {% for qna in data %}
        <tr>
            <td>{{ qna.id }}</td>
            <td><a href="{% url "qna:detail" qna.id %}">{{ qna.title }}</a></td>
            {% if qna.faq %}
            <td>★</td>
            {% else %}
            <td></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="paginator d-flex justify-content-center">
    <ul class="pagination">
        {% for page_number in data.paginator.page_range %}
        {% if page_number >= data.number|add:-5 and page_number <= data.number|add:5 and page_number != data.number %}
            <li class="page_item">
                <a class="page-link dynamicLink" href="#" data-page={{ page_number }}>{{ page_number }}</a>
            </li>
        {% elif page_number == data.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link dynamicLink" href="#" data-page={{ page_number }}>{{ page_number }}</a>
            </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
<script src="{% static "card/list.js" %}"></script>
{% endblock content %}