#CardList { 
    grid-area: card; 
    width: 100%;
    margin-right: 0.5em;
}
#DeckList { 
    grid-area: deck; 
    width: 100%;
    text-align: center;
}
.columnChange {
    width: 100%;
    display: grid;
    gap: .5em;
    grid-template-columns: calc(60% - 0.25em) calc(40% - 0.25em);
    grid-template-areas: 
    "card deck";
}

@media (max-width: 900px) {
    #CardList {
        width: 100%;
    }
    #DeckList {
        width: 100%;
    }
    .columnChange {
        grid-template-columns: 100%;
        grid-template-areas: 
        "deck"
        "card";
    }
}

.필터세부 {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    padding: .5em;
    border-radius: 1em;
}

.필터세부 > label, .필터세부 > div > label {
    font-weight: 900;
    font-size: 1.3em;
}

.검색체크 {
    display: flex;
    flex-direction: row;
}

.검색체크 > div > label {
    padding: 0.25em 0.5em 0.25em 0.5em;
    border-radius: 0.5em;
    margin: 0.1em 0.25em 0.1em 0.25em;
    font-size: 0.85em;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #d9d9d9;
}

.작은옵션 {
    margin: auto 0;
    flex-grow: 1;
    text-align: center;
    height: 1.5em;
    border: 0;
    border-radius: .5em;
}

input.검색체크 {
    display: none;
}

label:has(> input.검색체크:checked), input.검색체크:checked + label {
    background-color: #333;
    color: #fff;
}

#덱정보입력 > form > div { margin-bottom: 1em; }

.덱생성라벨 { 
    white-space: nowrap;
    font-weight: 900;
    font-size: 1.5em;
    margin-right: .5em;
}

#SearchResult, .searchResult {
    width: 100%;
}
#ImageResult > div {
    width: 100%;
    overflow-x: scroll;
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 0.4em;
}
#TextResult {
    display: none;
    grid-template-columns: repeat(4, auto);
    gap: 0.25em;
}
@media screen and (max-width: 450px) {
    #TextResult {
        grid-template-columns: repeat(3, auto);
    }
}

#TextResult > div:hover {
    cursor: pointer;
}
/* .divBtn {
    background: none;
    border: none;
    padding: 0;
} */
.cardImg {
    width: 100%;
}
.resultCard:nth-child(3n) { grid-row: 3; }
.resultCard:nth-child(3n+1) { grid-row: 1; }
.resultCard:nth-child(3n+2) { grid-row: 2; }

.resultCardText {
    padding: .25em;
    border-radius: .5em;
}

#DeckList {
    border-radius: .5em;
}

#DeckList > table {
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0 .5em;
}
.in_deck_cardname {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.counts {
    min-width: 70px;
}

#MainDeckList > tr > td { 
    padding: .5em; 
    background-color: #fff;
    border-color: #d9d9d9;
    border-width: 1px 0 1px 0;
}
#MainDeckList > tr > td:nth-child(1) { border-radius: 1em 0 0 1em }
#MainDeckList > tr > td:nth-last-child(1) { border-radius: 0 1em 1em 0}

.summernote-div, #id_description_iframe {
    height: 540px!important;
}

.autocomplete-list {
    position: absolute;
    border: 1px solid #ccc;
    background-color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1000;
}
.autocomplete-list li {
    padding: 8px 12px;
    cursor: pointer;
}
.autocomplete-list li.selected {
    background-color: #e9ecef;
}

#DescriptionInput a {
    color: rgba(var(--bs-link-color-rgb));
}