#ImageDeck {
    display: grid;
    grid-template-areas: 
    "list list list list side"
    "list list list list side"
    "hand hand hand hand side";
    aspect-ratio: 16 / 12;
    gap: 0.25em;
}

#List { grid-area: list; }
#Side { grid-area: side; }
#Hand { grid-area: hand; }

#List > div > .imgBox, #Hand > div > .imgBox {
    width: 20%;
}

#Side {
    gap: 10px;
    overflow: hidden;
}

#Side > .imgBox {
    height: 5%
}

.cardImg {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.overflow-hd {
    overflow: hidden;
    overflow-x: scroll;
}

.hoverOn {
    z-index: 999;
}

.hoverOn > img {
    z-index: 1;
}

.hoverOn:hover > img {
    transform: scale(1);
    z-index: 2;
    pointer-events: none;
}