#ImageDeck {
    display: grid;
    grid-template-areas: 
    "list list list list side"
    "list list list list side"
    "hand hand hand hand side";
    grid-template-columns: repeat(5, 1fr);
    gap: 0.25em;
}

#Side > div > .imgBox {
    height: 100%;
    width: 100%;
}

@media screen and (min-width: 768px) {
    #ImageDeck {
        aspect-ratio: 16 / 12;
    }

    #Side {
        height: 100%;
        overflow-y: scroll;
    }

    .sideBox {
        position: relative;
    }

    .sideImg {
        position: absolute;
        width: 100%;
    }

    #Side > div > .imgBox {
        height: 10%;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    #ImageDeck {
        grid-template-areas:
        "list"
        "hand"
        "side";
        grid-template-columns: auto;
    }

    #Side > div > .imgBox {
        width: 16.6%;
        height: auto;
    }

    #Side {
        overflow-y: none;
    }
}

#List { grid-area: list; }
#Side { grid-area: side; }
#Hand { grid-area: hand; }

#List > div > .imgBox, #Hand > div > .imgBox {
    width: 20%;
}

.cardImg {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.overflow-hd {
    overflow: hidden;
    overflow-x: scroll;
}

.hoverOn {
    transition: height 0.3s ease;
}