{% extends "base.html" %}
{% load static %}
{% block title %}덱 만들기{% endblock title %}
{% block style %}
<link rel="stylesheet" href="{% static "deck/create.css" %}">
{% endblock style %}
{% block content %}
<div id="CreateMain" class="d-flex flex-column w-100">
    <div style="font-size: 2em; font-weight: 900;">
        유저 덱 생성
    </div>
    <div id="덱정보입력">
        <form action="{% url "deck:create" %}" method="post" class="" id="submitForm">
        {% csrf_token %}
        <div id="캐릭" class="필터세부 배경색1 mt-2">
            <label for="char">캐릭터</label>
            {{ form.char }}
        </div>
        <div class="d-flex flex-row">
            <div id="이름" class="d-flex flex-row flex-grow-1 me-4">
                <label class="덱생성라벨" for="name">덱 이름</label>
                {{ form.name }}
            </div>
            <div id="버전" class="d-flex flex-row">
                <label class="덱생성라벨" for="version">버전</label>
                {{ form.version }}
            </div>
        </div>
        <div class="d-flex w-100">
            <label class="덱생성라벨" for="keyword">키워드</label>
            {{ form.keyword }}
        </div>
        <div class="d-flex flex-row justify-content-between">
            <label for="description">
                <button class="btn btn-sm btn-light border" id="DescToggleBtn"
                onclick="ToggleDesc();" type="button">▼ 덱 설명 작성</button>
            </label>
            <button class="btn btn-sm btn-dark" type="button" onclick="deckSubmit();">생성</button>
        </div>
            <div id="DescriptionInput" style="display: none;">
                {{ form.description }}
            </div>
        </form>
    </div>
    <hr class="my-4">
    <div class="columnChange mb-2">
        <div id="CardList" class="d-flex flex-column">
            <form class="form-control mt-2" id="cardSearchForm">
                <p style="font-size: 1.5em; font-weight: 900;">카드 검색</p>
                <div class="cardSearch mb-1 d-flex flex-md-row flex-column">
                    <div class="필터세부 flex-row me-2 mb-2">
                        <label class="덱생성라벨" for="char">캐릭터</label>
                        <div class="검색체크">
                            <div class="mt-auto mb-auto" id="char_main_box">
                                <input type="checkbox" name="char" value="0" id="char_main" class="검색체크">
                                <label for="char_main">
                                    미선택
                                </label>
                            </div>
                            <div class="mt-auto mb-auto">
                                <label for="char_neutral">
                                    <input type="checkbox" name="neutral" value="1" id="char_neutral" class="검색체크">
                                    세츠메이
                                </label>
                            </div>
                        </div>
                    </div>
                    <div id="frameField" class="필터세부 flex-row flex-grow-1 mb-2">
                        <label for="frame" class="덱생성라벨">속도</label>
                        <div class="d-flex flex-row justify-content-center flex-grow-1">
                            <input type="number" name="framenum" id="framenum" class="작은옵션 배경색2 me-3"
                            min="1" max="14">
                            <div class="검색체크">
                                <div class="mt-auto mb-auto">
                                    <label for="id_frametype0">
                                        <input type="radio" name="frametype" value="일치" id="id_frametype0" class="검색체크">
                                        일치
                                    </label>
                                </div>
                                <div class="mt-auto mb-auto">
                                    <label for="id_frametype1">
                                        <input type="radio" name="frametype" value="이상" id="id_frametype1" class="검색체크">
                                        이상
                                    </label>
                                </div>
                                <div class="mt-auto mb-auto">
                                    <label for="id_frametype2">
                                        <input type="radio" name="frametype" value="이하" id="id_frametype2" class="검색체크">
                                        이하
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex input-group-sm mb-2">
                    <input class="form-control 배경색1" type="text" name="keyword" id="keyword" placeholder="검색어를 입력하세요.">
                </div>
                <div class="d-flex justify-content-between">
                    <button id="TextToggleBtn" class="btn btn-sm btn-dark" onclick="textToggle();" type="button">텍스트로 보기</button>
                    <button class="btn btn-sm btn-dark" onclick="cardSearch();" type="button">검색</button>
                </div>
            </form>
            <div id="SearchResult" class="">
                <div id="ImageResult" class="searchResult">
                    <div></div>
                </div>
                <div id="TextResult" class="searchResult">
                    <div></div>
                </div>
            </div>
        </div>
        <div id="DeckList" class="d-flex flex-column border 배경색1 p-1">
            <table class="배경색1">
                <thead>
                    <tr class="배경색1">
                        <th scope="col">카드명</th>
                        <th scope="col">Count</th>
                        <th scope="col">Hand</th>
                        <th scope="col">Side</th>
                    </tr>
                    <tr class="배경색1">
                        <th>합계</th>
                        <th id="CardCount" class="counts">0</th>
                        <th id="HandCount" class="counts">0</th>
                        <th id="SideCount" class="counts">0</th>
                    </tr>
                </thead>
                <tbody id="MainDeckList">
                    
                </tbody>
            </table>
            <br>
            이미지를 좌클릭하여 증가
            <br>
            이미지를 우클릭하여 감소
        </div>
    </div>
</div>
<script>
    const loadingImgLink = '{% static "Image Loading.png" %}'
</script>
<script src="{% static "deck/create.js" %}"></script>
<script src="{% static "imgloading.js" %}"></script>
{% endblock content %}