{% extends "base.html" %}
{% load static %}
{% load deck_tags %}
{% block style %}
<link rel="stylesheet" href="{% static "deck/detail.css" %}">
{% endblock style %}
{% block title %}{{deck.name}}{% endblock title %}
{% block content %}
<div>
    <div id="덱정보" class="배경색1">
        <div id="위쪽정보">
            <p>{{deck.name}}</p>
            <p>ver.{{deck.version}}</p>
        </div>
        <div id="아래쪽정보">
            <p>캐릭터 : {{deck.character.name}}</p>
            <p>{{deck.author.username}}</p>
        </div>
        <div id="기능버튼">
            <button id="displayToggleBtn" class="btn btn-sm btn-dark" 
            onclick="deckToggle();" type="button">텍스트로 보기</button>
            {% if user == deck.author %}
            <div class="d-flex flex-row">
                <a class="btn btn-sm btn-warning me-2" href="{% url "deck:update" deck.id %}">덱 수정 </a>
                <a class="btn btn-sm btn-danger" href="{% url "deck:delete" deck.id %}">덱 삭제 </a>
            </div>
            {% else %}
            <div></div>
            {% endif %}
        </div>
    </div>
    <hr class="my-4">
    <div id="ImageDisplay">
        <div id="ImageDeck" class="w-100">
            <div id="List" class="배경색1">
                <p class="mb-0">리스트</p>
                <div id="listtop" class="d-flex flex-row justify-content-center"></div>
                <div id="listbottom" class="d-flex flex-row justify-content-center"></div>
                <div id="original" class="gridBox">
                    {% for card in cards %}
                    {% for _ in card|listcard %}
                    <div class="imgBox">
                        <a href="{% url "card:detail" card.card.id %}">
                            <img class="cardImg" src="{{card.card.img}}" alt="{{card.card.name}}">
                        </a>
                    </div>
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>
            <div id="Hand" class="d-flex flex-column 배경색1">
                <p class="mb-0">손패</p>
                <div class="gridBox">
                    {% for card in hands %}
                    {% for _ in card.hand|times %}
                    <div class="imgBox">
                        <a href="{% url "card:detail" card.card.id %}">
                            <img class="cardImg" src="{{card.card.img}}" alt="{{card.card.name}}">
                        </a>
                    </div>
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>
            <div id="Side" class="d-flex flex-column 배경색1">
                <p class="mb-0">사이드</p>
                <div class="d-flex flex-md-column flex-wrap flex-md-nowrap flex-grow-1 sideBox">
                    {% for card in sides %}
                    {% for _ in card.side|times %}
                    <div class="hoverOn imgBox">
                        <a class="" href="{% url "card:detail" card.card.id %}">
                            <div class="w-100" style="">
                                <img class="w-100 sideImg" src="{{card.card.img}}" alt="{{card.card.name}}">
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div id="TextDisplay" style="display:none;">
        <div id="텍스트리스트" class="d-flex">
            <div class="w-50 텍스트구획 배경색1 me-1">
                <h3 class="구획명">덱 리스트</h3>
                <table class="table table-sm">
                    <tbody>
                        {% for card in cards %}
                        {% for _ in card.count|times %}
                        <tr>
                            <th><a href="{% url "card:detail" card.card.id %}">{{card.card.name}}</a></th>
                        </tr>
                        {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="w-50 d-flex flex-column">
                <div class="텍스트구획 배경색1">
                    <h3 class="구획명">손패</h3>
                    <table class="table table-sm">
                        <tbody>
                            {% for card in hands %}
                            {% for _ in card.hand|times %}
                            <tr>
                                <th><a href="{% url "card:detail" card.card.id %}">{{card.card.name}}</a></th>
                            </tr>
                            {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="텍스트구획 배경색1">
                    <h3 class="구획명">사이드</h3>
                    <table class="table table-sm">
                        <tbody>
                            {% for card in sides %}
                            {% for _ in card.side|times %}
                            <tr>
                                <th><a href="{% url "card:detail" card.card.id %}">{{card.card.name}}</a></th>
                            </tr>
                            {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <hr class="my-4">
    <div id="덱설명" class="배경색1 mt-3">
        <h4>덱 설명</h4>
    {{ deck.description|safe }}
    </div>
</div>
<script src="{% static "deck/detail.js" %}"></script>
<script src="{% static "imgloading.js" %}"></script>
{% endblock content %}