{% extends "base.html" %}
{% load static %}
{% block title %}카드 컬렉션{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static "collection/index.css" %}">
<style>
    {% if not user.is_authenticated %}
    .로그인한정 {
        display: none;
    }
    {% endif %}
</style>
{% endblock style %}
{% block content %}
<script>
    function inc(id) {
        let input = document.getElementById("cc_input_" + id);
        let value = parseInt(input.value) || 0;
        if (value < 99) {
            input.value = value + 1;
        }
    }
    function dec(id) {
        let input = document.getElementById("cc_input_" + id);
        let value = parseInt(input.value) || 0;
        if (value > 0) {
            input.value = value - 1;
        }
    }
</script>
<div id="최상단" class="d-flex flex-column mb-1">
    <div style="text-align: start; font-size: 2em; font-weight: 900;" class="ms-1">컬렉션 목록</div>
</div>
<div id="검색상자">
    <form action="" class="d-flex flex-column m-2" method="get" id="검색폼">
        <div id="캐릭" class="필터세부 배경색1 mt-2">
            <label for="char">캐릭터</label>
            {{ form.char }}
        </div>
        <div id="레어" class="필터세부 배경색1 mt-2">
            <label for="rare">레어도</label>
            {{ form.rare }}
        </div>
        <div class="행 d-flex flex-row mt-2">
            <div id="팩" class="필터세부 배경색1 flex-grow-1">
                <label for="rare">출신 팩</label>
                {{ form.code }}
            </div>
            <div id="정렬" class="d-none">
                <label for="sort">정렬</label>
                <div class="d-flex flex-row">
                    {{ form.sortValue }}
                </div>
            </div>
            {% if user.is_authenticated %}
            <div id="미보유" class="필터세부 배경색1 ms-2">
                <label for="미보유">미보유</label>
                {{ form.onlyZero }}
            </div>
            {% endif %}
        </div>
        <button class="btn btn-light border mt-2" type="submit">
            검색
        </button>
    </form>
</div>
<div id="너무크면줄임">
<form action="{% url "collection:update_collected" %}" method="post" id="컬렉션업데이트">{% csrf_token %}</form>
    {% if user.is_authenticated %}
    <div class="w-100" style="text-align: center;">
        갯수를 변경한 경우, 아래쪽 저장 버튼을 눌러주세요.
        <br>
        "카드명" 또는 "코드" 를 클릭하면, 해당 기준으로 정렬할 수 있습니다.
    </div>
    <div id="컬렉션목록그리드로그인">
    {% else %}
    <div id="컬렉션목록그리드">
    {% endif %}
        <div class="grid-row first-row">
            <div id="정렬카드명" class="bold">카드명</div>
            <div id="정렬코드" class="모바일미표시 bold">코드</div>
            <div class="bold">레어도</div>
            <div class="로그인한정 bold">갯수</div>
        </div>
        {% for c in data %}
        <div class="grid-row">
            {% if c.card %}
            <div class="merging">
                <div>
                    <a href="{% url "card:detail" c.card.id %}" class="hoverImage">
                        {{ c.name }}
                        <span><img src="{{ c.img_sm }}" alt="카드이미지"></span>
                    </a>
                </div>
            </div>
            {% else %}
            <div class="merging">
                <div>
                    <p class="hoverImage">
                        {{ c.name }}
                        <span>
                            <img src="{{ c.img_sm }}" alt="카드이미지">
                        </span>
                    </p>
                </div>
            </div>
            {% endif %}
            <div class="모바일미표시">{{ c.code }}</div>
            <div><div class="rarebox {{ c.rare }}">{{ c.rare }}</div></div>
            <div class="로그인한정 d-flex flex-row">
                <button type="button" class="컬렉션버튼 btn btn-danger" onclick="dec({{c.id}})">-</button>
                <input type="number" name="{{ c.id }}" id="cc_input_{{ c.id }}"
                class="cc_input" value="{{ c.amount|default_if_none:0 }}">
                <button type="button" class="컬렉션버튼 btn btn-success" onclick="inc({{c.id}})">+</button>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if user.is_authenticated %}
    <div class="d-flex flex-row justify-content-end">
        <button class="btn btn-light border" type="button" id="컬렉션수정버튼">저장</button>
    </div>
    {% endif %}
</div>
<div class="paginator d-flex justify-content-center mt-4 mb-5">
    <ul class="pagination">
        {% for page_number in data.paginator.page_range %}
        {% if page_number >= data.number|add:-5 and page_number <= data.number|add:5 and page_number != data.number %}
            <li class="페이지">
                <a class="dynamicLink" href="#" data-page={{ page_number }}>{{ page_number }}</a>
            </li>
        {% elif page_number == data.number %}
            <li class="페이지 활성화" aria-current="page">
                <a class="dynamicLink" href="#" data-page={{ page_number }}>{{ page_number }}</a>
            </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
<script src="{% static "collection/index.js" %}"></script>
{% endblock content %}