#content {
    margin-top: 0;
}

#정보 {
    grid-area: 정보;
    display: grid;
    grid-template-columns: 35% 65%;
    margin-bottom: 1em;
}
@media screen and (max-width: 768px) {
    #정보 {
        grid-template-columns: 100%;
    }
}

#픽창위치 { 
    grid-area: 픽창;
    overflow-x: auto;
    overflow-y: visible;
}
#픽창위치::-webkit-scrollbar {
    display: none;
}
#순서변경용 {
    display: grid;
    grid-template-areas: 
    "정보"
    "픽창";
}
@media screen and (max-width: 768px) {
    #순서변경용 {
        grid-template-areas:
        "픽창"
        "정보";
    }
}

#캐릭터카드 {
    position: relative;
}
#캐릭터카드 > img {
    aspect-ratio: 63/88;
    object-fit: cover;
}
#skinChange {
    position: absolute;
    bottom: 0%;
    right: 0%;
}
#passiveChange {
    position: absolute;
    left: 0%;
    bottom: 0%;
}

/* 오른쪽 섹션 기본 */

#캐릭터정보 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#페이지전환 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
}
#페이지전환 > div {
    width: 20%;
    cursor: pointer;
}

/* 오른쪽 섹션 1 - 그래프 */
#그래프 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    margin: 0 auto;
    width: 80%;
}
#캐릭터그래프 {
    width: 60%;
    margin: 0 auto;
}
@media screen and (max-width: 768px) {
    #캐릭터그래프 {
        width: 100%;
    }
}
#특징 {
    text-align: center;
}

/* 오른쪽 섹션 2 - 상징카드 정보 */

#상징카드정보 {
    margin: 1em;
    display: grid;
    display: none;
    grid-template-columns: repeat(3, 1fr);
    gap: .5em;
}
.상징 p {
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
}

/* 픽창 데이터 */

#픽창 {
    --size: 50px;
    display: grid;
    grid-template-columns: repeat(12, var(--size));
    grid-auto-rows: var(--size);
    gap: 5px;
    place-items: start center;
    white-space: nowrap;
    margin-bottom: 1em;
    overflow-x: auto;
    padding: 2em 0 3em 0;
}
#픽창::-webkit-scrollbar {
    display: none;
}

#픽창 div {
    width: calc(var(--size) * sqrt(2));
    height: calc(var(--size) * sqrt(2));
    object-fit: cover;
    grid-column: auto / span 2;
    border-radius: 5px;
    transform: rotate(45deg);
}

#픽창 div:nth-child(8n-1) {
    grid-column: 2 / span 2
}

.pickImg {
    width: 100%;
    transition:
    filter .3s;
    filter: brightness(50%);
}

.pickImg:hover {
    filter: brightness(100%);
    cursor: pointer;
}
.selected {
    filter: brightness(100%);
}