{% extends "base.html" %}
{% load static %}
{% load card_tags %}
{% block title %}
{{ card.name }}
{% endblock title %}
{% block style %}
<link rel="stylesheet" href="{% static "card/detail.css" %}">
{% endblock style %}
{% block content %}
<script>
    var imgList = [];
    var now = 0;

    function imageChange() {
        now++;
        if(now >= imgList.length) now = 0;
        $("#카드이미지").attr("src", imgList[now]);
    }
</script>
<div>
    <div>
        <a id="돌아가기" href="javascript:history.back()">← 돌아가기</a>
    </div>
    <div id="섹션1">
        <div id="카드" class="배경색1">
            <div class="overlayButton">
                <img id="카드이미지" class="w-100" src="{{ card.img }}" alt="{{ card.img }}">
                <button class="imageChange" onclick="imageChange();">
                    <img src="{% static "card/change-arrow.png" %}" alt="다른 판본">
                </button>
            </div>
            <div class="d-flex flex-row justify-content-between">
                <div class="카드정보">
                    <p class="캐릭터명">{{ card.character.name }}</p>
                    <p class="카드명">{{ card.name }}</p>
                </div>
                <div class="mt-auto mb-auto me-2">
                    <a href="{% url "card:comment" card.id %}" class="btn btn-dark">평점 {{ card.score|floatformat|default_if_none:"미평가" }}/10.0</a>
                </div>
            </div>
        </div>
        <div>
            {% if card.type == "공격" %}
            <div id="기본정보" class="공격">
                <div id="판정" class="정보상자">
                    <div><p>판정</p></div><div><p>{{ card.pos }} {{ card.body|default_if_none:"" }}</p></div>
                </div>
                <div id="특수" class="정보상자">
                    <div><p>특수 판정</p></div><div><p>{{ card.special|default_if_none:"X" }}</p></div>
                </div>
                <div id="댐지" class="정보상자">
                    <div><p>대미지</p></div><div><p>{{ card.damage }}</p></div>
                </div>
                <div id="속도" class="정보상자">
                    <div><p>속도</p></div><div><p>{{ card.frame }}</p></div>
                </div>
                <div id="처리">
                    <div id="처리1" class="정보상자">
                        <div><p>히트</p></div><div><p>{{ card.hit|default_if_none:"X" }}</p></div>
                    </div>
                    <div id="처리2" class="정보상자">
                        <div><p>가드</p></div><div><p>{{ card.guard|default_if_none:"X" }}</p></div>
                    </div>
                    <div id="처리3" class="정보상자">
                        <div><p>카운터</p></div><div><p>{{ card.counter|default_if_none:"X" }}</p></div>
                    </div>
                </div>
            </div>
            <hr class="my-4">
            {% elif card.type == "수비" %}
            <div id="기본정보" class="수비">
                <div id="처리">
                    <div id="처리1" class="정보상자">
                        <div><p>상단</p></div><div><p>{{ card.g_top|default_if_none:"X" }}</p></div>
                    </div>
                    <div id="처리2" class="정보상자">
                        <div><p>중단</p></div><div><p>{{ card.g_mid|default_if_none:"X" }}</p></div>
                    </div>
                    <div id="처리3" class="정보상자">
                        <div><p>하단</p></div><div><p>{{ card.g_bot|default_if_none:"X" }}</p></div>
                    </div>
                </div>
            </div>
            <hr class="my-4">
            {% endif %}
            <div id="섹션2">
                <div id="효과" class="배경색1">
                    <p>효과</p>
                    <p>{{ card.text|linebreaks }}</p>
                </div>
                <div class="배경색1">
                    <p>최초 수록</p>
                    <p>{{ card.code }}</p>
                </div>
                <div class="배경색1">
                    <p>태그</p>
                    <p>{{ card.keyword|keywords }}</p>
                </div>
            </div>
        </div>
    </div>
    {% if perms.card.tag_update %}
    <hr class="my-4">
    <div class="sectionName">태그 업데이트</div>
    <form action="{% url "card:editCardTag" card.id %}" method="post" class="배경색1" id="태그폼">
        {% csrf_token %}
        <div>
            <label for="keyword">이 카드가 가진 태그</label>
            <input class="form-control 배경색2" type="text" name="keyword" id="keyword" value="{{ card.keyword }}">
        </div>
        <div>
            <label for="search">이 카드가 찾는 태그</label>
            <input class="form-control 배경색2" type="text" name="search" id="search" value="{{ card.search }}">
        </div>
        <div>
            <label for="hidden">이 카드의 숨겨진 검색어</label>
            <input class="form-control 배경색2" type="text" name="hidden" id="hidden" value="{{ card.hiddenKeyword }}">
        </div>
        <div class="flex-row justify-content-end">
            <button class="btn btn-dark" type="submit">수정</button>
        </div>
    </form>
    {% endif %}
    <hr class="my-4">
    <div id="수록정보">
        <div class="sectionName">수록 정보</div>
        <div class="released">
            <div>출시일</div>
            <div>수록번호</div>
            <div>수록 팩</div>
            <div>레어도</div>
        </div>
        {% for ccc in cc %}
        <div class="released">
            <div>{{ ccc.pack.released|date:"y-m-d" }}</div>
            <div>{{ ccc.code }}</div>
            <div>{{ ccc.pack.name }}</div>
            <div class="{{ ccc.rare }}">{{ ccc.rare }}</div>
        </div>
        {% endfor %}
        
    </div>
    {% if relation|length != 0 %}
    <hr class="my-4">
    <div id="관련카드목록">
        <div class="d-flex flex-row mb-2">
            <select class="btn btn-sm border" name="kw" id="kwSelect">
                {% for kw in relation.keys %}
                <option value="{{ kw|cut:" " }}">{{kw}}</option>
                {% endfor %}
            </select>
            <p class="ms-2">관련 카드</p>
        </div>
        <div>
            {% for kw, vs in relation.items %}
            <div id="{{ kw|cut:" " }}" class="관련상자">
                {% for v in vs %}
                <div class="관련카드 배경색1">
                    <a href="{% url 'card:detail' v.id %}">
                        <div class="w-100 d-flex flex-column justify-content-center hoverBig">
                            <img class="w-100" src="{{ v.img_mid }}" alt="{{ v.name }}">
                            <div class="카드정보">
                                <a class="캐릭터명2" href="{% url "card:character" %}?id={{v.character.id}}">
                                    {{ v.character.name }}</a>
                                <p class="카드명2">{{ v.name }}</p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <hr class="my-4">
    <div id="qna" class="mt-2 mb-3">
        <div class="w-100 sectionName">관련 Q&A</div>
        {% for qna in card.qna.all %}
        <a href="{% url "qna:detail" qna.id %}">
            <div class="질문답변 배경색1">
                <h4 class="mb-0">{{ qna.title }}</h4>
                <p class="mb-0"><b>Q: </b>{{ qna.question }}</p>
                <p class="mb-0"><b>A: </b>{{ qna.answer }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
<script src="{% static "card/detail.js" %}"></script>
<script>
    {% for ccc in cc %}
        {% if ccc.image %}
        imgList.push("{{ ccc.image }}");
        {% endif %}
    {% endfor %}
    imgList = [...new Set(imgList)];

    if(imgList.length == 1) {
        $(".imageChange").css("display", "none");
    }
</script>
{% endblock content %}