{% extends "base.html" %}
{% load static %}
{% block title %}태그 수정{% endblock title %}
{% block style %}
<link rel="stylesheet" href="{% static "card/tags.css" %}">
{% endblock style %}
{% block content %}
<div>
    <div id="최상단" class="d-flex flex-column mb-1">
        <div style="text-align: start; font-size: 2em; font-weight: 900;" class="ms-1">태그 목록</div>
    </div>
    <form action="", method="post" class="d-flex flex-column p-2">
        {% include "form_errors.html" %}
        {% csrf_token %}
        <div class="배경색1 섹션">
            <label for="name">태그명</label>
            {{ form.name }}
        </div>
        <div class="배경색1 섹션">
            <label for="description">태그 설명</label>
            {{ form.description }}
        </div>
        <button class="btn btn-light border mt-2" type="submit">수정</button>
    </form>
</div>
{% endblock content %}