{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{% static "favicon.ico" %}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상황 재현기</title>
    <!-- jQuery Core -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- jQuery UI -->
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
<!-- jQuery UI CSS (optional, for styles) -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static "battlelog/sim.css" %}">
</head>
<body>
    <div id="메인상자">
        <div id="p2area" class="area">
            <div id="P2정보" class="info">
                <div>
                    플레이어 2
                </div>
                <div>
                    <p>HP : <span id="p2_hp">5000</span></p>
                </div>
                <div>
                    <p>FP : <span id="p2_fp">0</span></p>
                </div>
            </div>
            <div id="P2사이드" class="side card-area">
                <div class="area-name">사이드 덱</div>
            </div>
            <div id="P2브레이크" class="break card-area">
                <div class="area-name">브레이크</div>
            </div>
            <div id="P2리스트" class="list card-area">
                <div class="area-name">리스트</div>
            </div>
            <div id="P2손패" class="hand card-area">
                <div class="area-name">손패</div>
                <div class="lmc-card p2-card">스톰브링거</div>
                <div class="lmc-card p2-card">배드맨 퍼니시</div>
                <div class="lmc-card p2-card">인스턴트 스매시</div>
                <div class="lmc-card p2-card">차징 스매시</div>
                <div class="lmc-card p2-card">루트킷</div>
                <div class="lmc-card p2-card">그라인더 슬링</div>
                <div class="lmc-card p2-card">하이 잽</div>
            </div>
            <div id="P2루멘" class="lumen card-area">
                <div class="area-name">루멘 존</div>
                <div class="area-button btlRstBtn btn btn-sm">모두 리스트로</div>
                <div class="lmc-card p2-card">올 인 차지</div>
                <div class="lmc-card p2-card">기합</div>
            </div>
            <div id="P2배틀" class="battle card-area">
                <div class="area-name">배틀 존</div>
                <div class="area-button btlRstBtn btn btn-sm">모두 리스트로</div>
            </div>
        </div>
        <div id="p1area" class="area">
            <div id="P1정보" class="info">
                <div>
                    플레이어 1
                </div>
                <div>
                    <p>HP : <span id="p1_hp">5000</span></p>
                </div>
                <div>
                    <p>FP : <span id="p1_fp">0</span></p>
                </div>
            </div>
            <div id="P1사이드" class="side card-area">
                <div class="area-name">사이드 덱</div>
            </div>
            <div id="P1브레이크" class="break card-area">
                <div class="area-name">브레이크</div>
            </div>
            <div id="P1리스트" class="list card-area">
                <div class="area-name">리스트</div>
                <div class="lmc-card p1-card">배드 캐쳐</div>
                <div class="lmc-card p1-card">디베르티스망</div>
            </div>
            <div id="P1손패" class="hand card-area">
                <div class="area-name">손패</div>
                <div class="lmc-card p1-card">스탠딩 가드</div>
                <div class="lmc-card p1-card">다운 가드</div>
                <div class="lmc-card p1-card">페인 프리즌</div>
                <div class="lmc-card p1-card">나이트메어 주테</div>
                <div class="lmc-card p1-card">퀵 악센트</div>
                <div class="lmc-card p1-card">포르티시모</div>
                <div class="lmc-card p1-card">제로 섬</div>
                <div class="lmc-card p1-card">에어 슬래시 킥</div>
                <div class="lmc-card p1-card">아리나 바트망</div>
            </div>
            <div id="P1루멘" class="lumen card-area">
                <div class="area-name">루멘 존</div>
                <div class="area-button btlRstBtn btn btn-sm">모두 리스트로</div>
            </div>
            <div id="P1배틀" class="battle card-area">
                <div class="area-name">배틀 존</div>
                <div class="area-button btlRstBtn btn btn-sm">모두 리스트로</div>
            </div>
        </div>
        <div id="로그상자" class="special-area">
            <div style="top: 10px; right: 20px; position:absolute;">로그</div>
            <div id="logtext">

            </div>
            <div class="d-flex flex-row justify-content-end">
                <button type="button" id="logReset" class="btn btn-sm border">로그 초기화</button>
                <button type="button" id="deleteTail" class="btn btn-sm border">마지막 한 줄 지우기</button>
            </div>
        </div>
        <div id="기능상자" class="special-area">
            <div id="기능전환" class="d-flex flex-row">
                <div id="loadDeckBtn">덱</div>
                <div id="loadCardBtn">카드</div>
                <div id="setLogBtn">로그</div>
            </div>
        </div>
    </div>
    <script src="{% static "battlelog/sim.js" %}"></script>
</body>
</html>