{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{% static "favicon.ico" %}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상황 재현기</title>
    <!-- jQuery Core -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- jQuery UI -->
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
<!-- jQuery UI CSS (optional, for styles) -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static "battlelog/sim.css" %}">
<script src="{% static "battlelog/simPreLoad.js" %}"></script>
</head>
<body>
    <div id="메인상자">
        <div id="p2area" class="area">
            <div id="P2정보" class="info">
                <div class="기본정보">
                    <input type="text" value="플레이어2">
                    <div class="hpfpbox">
                        <button type="button" id="P2_HP_DE" class="btn btn-danger hpde">-</button>
                        <p class="hpfp">HP<br><span id="P2_hp">5000</span></p>
                        <button type="button" id="P2_HP_IN" class="btn btn-success hpin">+</button>
                    </div>
                    <div class="hpfpbox">
                        <button type="button" id="P2_FP_DE" class="btn btn-danger fpde">-</button>
                        <button id="P2FPReset" class="btn btn-light border hpfp">
                            <span id="P2_fp">0</span> FP</button>
                        <button type="button" id="P2_FP_IN" class="btn btn-success fpin">+</button>
                    </div>
                </div>
                <div class="캐릭터정보">
                    
                </div>
            </div>
            <div id="P2사이드" class="side card-area">
                <div class="area-name">사이드 덱</div>
            </div>
            <div id="P2브레이크" class="break card-area">
                <div class="area-name">브레이크</div>
            </div>
            <div id="P2리스트" class="list card-area">
                <div class="area-name">리스트</div>
            </div>
            <div id="P2손패" class="hand card-area">
                <div class="area-name">손패</div>
            </div>
            <div id="P2루멘" class="lumen card-area">
                <div class="area-name">루멘 존</div>
                <div class="area-button btlRstBtn btn btn-sm">모두 리스트로</div>
            </div>
            <div id="P2배틀" class="battle card-area">
                <div class="area-name">배틀 존</div>
                <div class="area-button btlRstBtn btn btn-sm">모두 리스트로</div>
            </div>
        </div>
        <div id="p1area" class="area">
            <div id="P1정보" class="info">
                <div class="기본정보">
                    <input type="text" value="플레이어1">
                    <div class="hpfpbox">
                        <button type="button" id="P1_HP_DE" class="btn btn-danger hpde">-</button>
                        <p class="hpfp">HP<br><span id="P1_hp">5000</span></p>
                        <button type="button" id="P1_HP_IN" class="btn btn-success hpin">+</button>
                    </div>
                    <div class="hpfpbox">
                        <button type="button" id="P1_FP_DE" class="btn btn-danger fpde">-</button>
                        <button id="P1FPReset" class="btn btn-light border hpfp">
                            <span id="P1_fp">0</span> FP</button>
                        <button type="button" id="P1_FP_IN" class="btn btn-success fpin">+</button>
                    </div>
                </div>
            </div>
            <div id="P1사이드" class="side card-area">
                <div class="area-name">사이드 덱</div>
            </div>
            <div id="P1브레이크" class="break card-area">
                <div class="area-name">브레이크</div>
            </div>
            <div id="P1리스트" class="list card-area">
                <div class="area-name">리스트</div>
            </div>
            <div id="P1손패" class="hand card-area">
                <div class="area-name">손패</div>
            </div>
            <div id="P1루멘" class="lumen card-area">
                <div class="area-name">루멘 존</div>
                <div class="area-button btlRstBtn btn btn-sm">모두 리스트로</div>
            </div>
            <div id="P1배틀" class="battle card-area">
                <div class="area-name">배틀 존</div>
                <div class="area-button btlRstBtn btn btn-sm">모두 리스트로</div>
            </div>
        </div>
        <div id="로그상자" class="special-area">
            <div style="top: 10px; right: 20px; position:absolute;">로그</div>
            <div id="logtext">

            </div>
            <div class="d-flex flex-row justify-content-end">
                {% comment %} <button type="button" id="deleteTail" class="btn btn-sm border">되돌리기</button> {% endcomment %}
                <button type="button" onclick="logReset();" class="btn btn-sm btn-danger">로그 초기화</button>
            </div>
            <div id="tooltip">

            </div>
        </div>
        <div id="기능상자" class="special-area">
            <div id="기능전환" class="d-flex flex-row">
                <div id="loadDeckBtn">덱</div>
                <div id="loadCardBtn">카드</div>
                <div id="LogBtn">로그</div>
            </div>
            <div id="deckFunction" class="functionTab">
                <form class="form-control mt-2" id="deckLoadForm">
                    <div class="d-flex flex-row">
                        <p style="font-size: 1em; font-weight: 900; margin: 0;">덱 불러오기</p>
                        <select name="p" id="deckPlayerState">
                            <option value="1">P1</option>
                            <option value="2">P2</option>
                        </select>
                    </div>
                    <div class="d-flex flex-row">
                        <input class="배경색1 flex-grow-1" type="number" name="id" id="deck_id" placeholder="덱ID를 입력하세요.">
                        <button class="btn btn-sm btn-dark" id="deckLoadBtn" type="button">검색</button>
                    </div>
                </form>
            </div>
            <div id="cardFunction" class="functionTab">
                <form class="form-control mt-2" id="cardSearchForm">
                    <div class="d-flex flex-row">
                        <p style="font-size: 1em; font-weight: 900; margin: 0;">카드 불러오기</p>
                        <select name="p" id="cardPlayerState">
                            <option value="1">P1</option>
                            <option value="2">P2</option>
                        </select>
                    </div>
                    <div class="d-flex flex-row">
                        <input class="배경색1 flex-grow-1" type="text" name="keyword" id="keyword" placeholder="검색어를 입력하세요.">
                        <button class="btn btn-sm btn-dark" id="cardSearchBtn" type="button">검색</button>
                    </div>
                </form>
                <div id="cardSearchResult" class="card-area">

                </div>
            </div>
            <div id="logFunction" class="functionTab">
                <div>
                    <div class="text">페이즈 출력</div>
                    <div class="d-flex flex-row justify-content-around">
                        <button class="btn btn-sm" onclick="writePhaseLog('루멘')">루멘</button> → 
                        <button class="btn btn-sm" onclick="writePhaseLog('레디')">레디</button> → 
                        <button class="btn btn-sm" onclick="writePhaseLog('배틀')">배틀</button> → 
                        <button class="btn btn-sm" onclick="writePhaseLog('겟')">겟</button> → 
                        <button class="btn btn-sm" onclick="writePhaseLog('리커버리')">리커버리</button> → 
                        <button class="btn btn-sm" onclick="writeTurnLog()">다음 턴</button>
                    </div>
                </div>
                <div>
                    <div class="text my-auto">히트 출력</div>
                    <div id="P1Action" class="d-flex flex-row flex-wrap justify-content-around">
                        <div class="text">P1</div>
                        <button class="btn btn-sm">히트</button>
                        <button class="btn btn-sm">카운터</button>
                        <button class="btn btn-sm">방어</button>
                        <button class="btn btn-sm">방어됨</button>
                        <button class="btn btn-sm">회피</button>
                        <button class="btn btn-sm">회피됨</button>
                        <button class="btn btn-sm">상쇄</button>
                        <button class="btn btn-sm">대응 없음</button>
                    </div>
                    <hr>
                    <div id="P2Action" class="d-flex flex-row flex-wrap justify-content-around">
                        <div class="text my-auto">P2</div>
                        <button class="btn btn-sm">히트</button>
                        <button class="btn btn-sm">카운터</button>
                        <button class="btn btn-sm">방어</button>
                        <button class="btn btn-sm">방어됨</button>
                        <button class="btn btn-sm">회피</button>
                        <button class="btn btn-sm">회피됨</button>
                        <button class="btn btn-sm">상쇄</button>
                        <button class="btn btn-sm">대응 없음</button>
                    </div>
                </div>
                <div>
                    <div class="text">배틀 페이즈</div>
                    <div class="d-flex flex-row flex-wrap justify-content-around">
                        <button class="btn btn-sm" onclick="writeEtcLog('판정 전')">판정 전</button> → 
                        <button class="btn btn-sm" onclick="writeEtcLog('그랩 무효')">그랩 무효</button> → 
                        <button class="btn btn-sm" onclick="writeEtcLog('회피 시')">회피 시</button> → 
                        <button class="btn btn-sm" onclick="writeEtcLog('방어 시')">방어 시</button> → 
                        <button class="btn btn-sm" onclick="writeEtcLog('히트 및 카운터 시')">히트 및 카운터 시</button> → 
                        <button class="btn btn-sm" onclick="writeEtcLog('콤보 시')">콤보 시</button> → 
                        <button class="btn btn-sm" onclick="writeEtcLog('상쇄 시')">상쇄 시</button> → 
                        <button class="btn btn-sm" onclick="writeEtcLog('사용 후')">사용 후</button> → 
                        <button class="btn btn-sm" onclick="writeEtcLog('콤보 타임')">콤보 타임</button> → 
                        <button class="btn btn-sm" onclick="writeEtcLog('캐치 타임')">캐치 타임</button>
                    </div>
                </div>
                <div>
                    <div class="text">기타 기능</div>
                    <div class="d-flex flex-row justify-content-around">
                        <button class="btn btn-sm" onclick="writeEtcLog('----------------------------')">가로선 출력</button>
                        <button class="btn btn-sm" onclick="writeEtcLog('우선권 동일 스킵')">우선권 동일 스킵</button>
                        <button class="btn btn-sm" onclick="writeEtcLog('손패 제한 초과')">손패 제한 초과</button>
                        <button class="btn btn-sm" onclick="ptr = log.length; reloadLog();">포인터 맨 아래로</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static "battlelog/sim.js" %}"></script>
    <script src="{% static "battlelog/simload.js" %}"></script>
</body>
</html>