.행 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.option {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 200px;
    padding: .5em;
    margin: .5em;
    border: 1px solid #5f5f5f;
    border-radius: .5em;
}

.combinedoption {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.combinedoption > div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

label {
    display: block;
    font-size: 1.2em;
    font-weight: 900;
}

.rare {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rare > div, .rare > div > label {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

input[type="checkbox"] {
    height: 100%;
    aspect-ratio: 1/1;
    margin-right: .5em;
}

#id_ultimate {
    height: 1.5em;
}

#hitguardcounter > div {
    width: 50px;
}