{% extends "base.html" %}
{% load static %}
{% block title %}캐릭터 목록{% endblock title %}
{% block style %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link rel="stylesheet" href="{% static "character/index.css" %}">
{% endblock style %}
{% block content %}
<div id="순서변경용">
<div id="정보">
    <div id="캐릭터카드">
        <img class="w-100" src="https://images.hinoto.kr/lumendb/webp/ST1-CH1.webp" alt="">
        <button class="btn btn-light border" id="passiveChange">
            PASSIVE
        </button>
        <button class="btn btn-light border" id="skinChange">
            SKIN
        </button>
    </div>
    <div id="캐릭터정보">
        <div id="페이지전환">
            <div id="previousPage"> < </div>
            <div id="페이지명">
                그래프
            </div>
            <div id="nextPage"> > </div>
        </div>
        <div id="그래프">
            <canvas id="캐릭터그래프"></canvas>
        </div>
        <div id="상징카드정보">
            <div id="상징1" class="상징">
                <img class="w-100" src="https://images.hinoto.kr/lumendb/webpsm/ST1-002.webp" alt="">
                <p>초반 심리전</p>
            </div>
            <div id="상징2" class="상징">
                <img class="w-100" src="https://images.hinoto.kr/lumendb/webpsm/ST1-007.webp" alt="">
                <p>강력한 콤보용</p>
            </div>
            <div id="상징3" class="상징">
                <img class="w-100" src="https://images.hinoto.kr/lumendb/webpsm/ST1-010.webp" alt="">
                <p>압박 주축 카드</p>
            </div>
        </div>
        <div id="특징">
            
        </div>
    </div>
</div>
<div id="픽창위치" class="d-flex flex-row justify-content-center">
    <div id="픽창">
        {% for char in chars %}
        <div>
            <img class="pickImg" src="{{ char.icon_img }}" alt="{{ char.id }}">
        </div>
        {% endfor %}
    </div>
</div>
</div>
<script src="{% static "character/index.js" %}"></script>
{% endblock content %}