{% extends "base.html" %}
{% load static %}
{% block title %}캐릭터 목록{% endblock title %}
{% block style %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link rel="stylesheet" href="{% static "character/index.css" %}">
<style>
    #픽창 {
        grid-template-columns: repeat({{ charnum }}, var(--size));
    }
    #픽창 div:nth-child({{ charnum2 }}n-1) {
        grid-column: 2 / span 2
    }
</style>
<script src="{% static "character/comment.js" %}"></script>
{% endblock style %}
{% block content %}
<div id="순서변경용">
<div id="정보">
    <div id="캐릭터카드">
        <img class="w-100" src="" alt="">
        <button class="btn btn-light border" id="passiveChange">
            PASSIVE
        </button>
        <button class="btn btn-light border" id="skinChange">
            SKIN
        </button>
    </div>
    <div id="캐릭터정보">
        <div id="페이지전환">
            <div id="previousPage"> < </div>
            <div id="페이지명">
                그래프
            </div>
            <div id="nextPage"> > </div>
        </div>
        <div id="그래프">
            <canvas id="캐릭터그래프"></canvas>
        </div>
        <div id="상징카드정보">
            <div id="상징1" class="상징">
                <img class="w-100" src="" alt="">
                <p>초반 심리전</p>
            </div>
            <div id="상징2" class="상징">
                <img class="w-100" src="" alt="">
                <p>강력한 콤보용</p>
            </div>
            <div id="상징3" class="상징">
                <img class="w-100" src="" alt="">
                <p>압박 주축 카드</p>
            </div>
        </div>
        <div id="특징">
            
        </div>
    </div>
</div>
<div id="픽창위치" class="d-flex flex-row justify-content-center">
    <div id="픽창">
        {% for char in chars %}
        <div>
            <img class="pickImg" src="{{ char.icon_img }}" alt="{{ char.id }}">
        </div>
        {% endfor %}
    </div>
</div>
<div id="댓글창">
    <div class="sectionName">캐릭터 코멘트</div>
    {% if user.is_authenticated %}
    <form action="{% url "card:writeCharComment" %}" method="post" class="배경색1 mb-2" id="코멘트작성">
        {% csrf_token %}
        {% include "form_errors.html" %}
        {{ form.character }}
        <div id="캐릭터수치평가창">
            <div>
                <label for="id_power" data-bs-toggle="tooltip" title="공격력, 한 방의 위력과 평균적인 데미지 기대치">화력ⓘ</label>
                {{ form.power }}
            </div>
            <div>
                <label for="id_combo" data-bs-toggle="tooltip" title="연속 공격이나 캐치, 콤보의 용이함/데미지">연계ⓘ</label>
                {{ form.combo }}
            </div>
            <div>
                <label for="id_reversal" data-bs-toggle="tooltip" title="불리한 상황에서 역전할 수 있는 능력">변수창출ⓘ</label>
                {{ form.reversal }}
            </div>
            <div>
                <label for="id_safety" data-bs-toggle="tooltip" title="플레이의 안정성, 리스크 관리 능력. 높을 수록 안정적임">안정성ⓘ</label>
                {{ form.safety }}
            </div>
            <div>
                <label for="id_tempo" data-bs-toggle="tooltip" title="메인 플레이를 펼치기 위한 시간. 높을 수록 빠름을 의미">템포ⓘ</label>
                {{ form.tempo }}
            </div>
        </div>
        <div>코멘트</div>
        {{ form.comment }}
        <div class="d-flex flex-row justify-content-end">
            <button class="btn btn-dark ps-4 pe-4" type="submit">작성</button>
        </div>
    </form>
    {% endif %}
    <div class="d-flex flex-column" id="댓글목록">
    {% for comment in comments %}
        <div class="댓글 배경색1 mb-2">
            <div class="d-flex flex-row">
                <div class="me-2"><a href="{% url "common:userpage" comment.author.id %}">
                    {{comment.author.username}}</a> | </div>
                <div class="별점">{{comment.score}}</div>
            </div>
            <div class="ms-2">{{comment.comment}}</div>
        </div>
    {% endfor %}
    </div>
    
</div>
</div>
<script src="{% static "character/index.js" %}"></script>
<script>
    dataLoad({{ id }})
</script>
<script>
document.addEventListener('DOMContentLoaded', function () {
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    tooltipTriggerList.forEach(function (tooltipTriggerEl) {
        new bootstrap.Tooltip(tooltipTriggerEl);
    });
});
</script>
{% endblock content %}