@media screen and (max-width: 768px) {
    .모바일미표시 {
        display: none;
    }
}

.N { background-color: #aaaaaa;}
.SR { background-color: skyblue; }
.EXR { background-color: plum; }
.AN { background-color: #444444; color: #ffffff; }
.AEX { background-color: purple; color: #ffffff; }
.SAEX { background-color: blue; color: #ffffff;}
.SKR { background-color: crimson; color: #ffffff;}

/* 각 필터의 체크박스와 라벨을 감싸는 상자 */
.필터세부 {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    padding: .5em;
    border-radius: 1em;
}

.필터세부 > label, .필터세부 > div > label {
    font-weight: 900;
    font-size: 1.3em;
}

.검색체크 {
    display: flex;
    flex-direction: row;
}

.작은버튼 {
    padding: 0 0.5em 0 0.5em;
    margin: auto 0 auto 0;
}

.검색체크 > div > label {
    padding: 0.25em 0.5em 0.25em 0.5em;
    border-radius: 0.5em;
    margin: 0.1em 0.25em 0.1em 0.25em;
    font-size: 0.85em;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #d9d9d9;
}

.작은버튼 > div > label {
    padding: 0.1em 0.25em 0.1em 0.25em;
    border-radius: 0.5em;
    margin-left: 0.25em;
    margin-right: 0.25em;
    cursor: pointer;
}

input.검색체크 {
    display: none;
}

label:has(> input.검색체크:checked)  {
    background-color: #333;
    color: #fff;
}

.긴옵션 {
    margin: 0.5em;
    text-align: center;
    height: 1.5em;
    border: 0;
    border-radius: .5em;
}

input[type='number'] {
    padding: 0;
}

@media screen and (min-width: 768px) {
    #너무크면줄임 {
        margin: 1em 5%;
    }
}

#컬렉션목록그리드 {
    display: grid;
    width: 100%;
    grid-template-columns: auto 150px 100px;
}
@media screen and (max-width: 768px) {
    #컬렉션목록그리드 {
        grid-template-columns: auto 100px;
    }
}

#컬렉션목록그리드로그인 {
    display: grid;
    width: 100%;
    grid-template-columns: auto 150px 100px 100px;
}
@media screen and (max-width: 768px) {
    #컬렉션목록그리드로그인 {
        grid-template-columns: auto 100px 100px;
    }
}

.grid-row {
    display: contents;
}
.merging { 
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    vertical-align: middle;
}
.merging > div {
    display: flex;
    flex-direction: column;
}
.merging > div > p:hover {
    cursor: pointer;
}

.grid-row > div {
    border-bottom: 1px solid #000;
    padding: .25em 0 .25em 0;
}
.grid-row > div:nth-child(3), .grid-row > div:nth-child(4) {
    text-align: center;
}

.hoverImage span {
    display: block;
    position: fixed;
    overflow: hidden;
}

.hoverImage span img {
    width: 300px;
}

.hoverImage span {
    opacity: 0;
    transition: opacity .2s;
}
.hoverImage:hover span { 
    opacity: 1;
}
@media screen and (max-width: 768px) {
    .hoverImage:hover span { 
    display: none;
}
}

.rarebox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    border-radius: .5em;
    margin: auto;
}

.cc_input {
    width: 50px;
    border: 0;
    text-align: center;
}

/* .행 {
    margin-top: .5em;
    display: grid;
    flex-direction: row;
    grid-template-areas: 
    "팩 팩 팩"
    "정렬 정렬 미보유";
    gap: .5em;
} */
#팩 { grid-area: 팩; }
#정렬 { grid-area: 정렬; }
#미보유 { grid-area: 미보유;}

#팩 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#id_onlyZero {
    margin: .5em;
    height: 100%;
}

#정렬카드명:hover, #정렬코드:hover {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .행 {
        flex-direction: column;
    }
}
.컬렉션버튼 {
    width: 40px;
    height: 25px;
    padding: 0;
}